.btn {
	background-color: var(--btn-bg, transparent);
	border: var(--btn-border-width, 1px) var(--btn-border-style, solid)
		var(--btn-border-color, transparent);
	border-radius: var(--btn-border-radius, 0.25rem);
	box-shadow: var(--btn-box-shadow);
	color: var(--btn-color, inherit);
	cursor: var(--btn-cursor, pointer);
	display: var(--btn-display, inline-grid);
	font-family: var(--btn-font-family);
	font-size: var(--btn-font-size);
	font-weight: var(--btn-font-weight);
	line-height: var(--btn-line-height);
	padding: var(--btn-padding-y, 0.375rem) var(--btn-padding-x, 0.75rem);
	place-content: var(--btn-place-content, center);
	opacity: var(--btn-opacity);

	@include transition($btn-transition);

	&:hover {
		--btn-color: inherit;

		@at-root :where(a#{&}) {
			text-decoration: none;
		}
	}

	&:focus,
	&.focus {
		--btn-box-shadow: #{$btn-focus-box-shadow};
		outline: 0;
	}

	&:active,
	&.active {
		--btn-box-shadow: #{$btn-active-box-shadow};

		&:focus {
			@if ($enable-shadows and $btn-active-box-shadow != none) {
				--btn-box-shadow: #{$btn-focus-box-shadow},
					#{$btn-active-box-shadow};
			} @else {
				--btn-box-shadow: #{$btn-focus-box-shadow};
			}
		}
	}

	&.disabled,
	&:disabled {
		--btn-cursor: not-allowed;
		--btn-opacity: 0.4;

		&:focus,
		&:focus:active {
			--btn-box-shadow: none;
		}

		&:active {
			pointer-events: none;
		}
	}

	.btn-section {
		display: grid;
		font-size: var(--btn-section-font-size, 0.6875rem);
	}

	@at-root :where(fieldset:disabled a#{&}) {
		--btn-box-shadow: none;
		--btn-cursor: not-allowed;
		--btn-opacity: 0.4;

		&:active {
			pointer-events: none;
		}
	}
}

// Button Sizes

.btn-lg {
	--btn-font-size: 1.125rem;
	--btn-line-height: 1.5rem;
	--btn-padding-y: 0.59375rem;
	--btn-padding-x: 1.5rem;

	.btn-section {
		--btn-section-font-size: 0.8125rem;
	}
}

.btn-sm {
	--btn-border-radius: 0.1875rem;
	--btn-font-size: 0.875rem;
	--btn-line-height: 1.15rem;
	--btn-padding-y: 0.4375rem;
	--btn-padding-x: 0.75rem;

	.btn-section {
		--btn-section-font-size: 0.5625rem;
	}
}

// Button Block

.btn-block {
	--btn-display: grid;

	@at-root :is(input[type='submit']#{&}, input[type='reset']#{&}, input[type='button']#{&}) {
		text-decoration: none;
	}
}

// Button Unstyled

.btn-unstyled {
	--btn-bg: rgba(0, 0, 0, 0.001);
	--btn-border-width: 0;
	--btn-padding-x: 0;
	--btn-padding-y: 0;
	--btn-place-content: start start;
}

// Button Monospaced

.btn-monospaced {
	height: var(--btn-monospaced-size, 2.5rem);
	overflow: hidden;
	width: var(--btn-monospaced-size, 2.5rem);

	&.btn .lexicon-icon {
		margin-top: 0;
	}

	&.btn-lg {
		--btn-monospaced-size: 3rem;
	}

	&.btn-sm {
		--btn-monospaced-size: 2rem;
	}
}

/*** POC - End Part 1 ***/

// Button C Inner

@if ($enable-c-inner) {
	.btn .c-inner {
		margin: #{math-sign($btn-padding-y)} #{math-sign($btn-padding-x)};

		@include clay-scale-component {
			margin: #{math-sign($btn-padding-y-mobile)} #{math-sign(
					$btn-padding-x-mobile
				)};
		}
	}

	.btn-unstyled .c-inner {
		margin: 0;
		max-width: none;
	}

	.btn-monospaced .c-inner {
		align-items: center;
		display: flex;
		flex-direction: column;
		height: calc(100% + #{$btn-monospaced-padding-y * 2});
		justify-content: center;
		margin: #{math-sign($btn-monospaced-padding-y)} 0;
		padding: 0;
		width: 100%;
	}

	.btn-sm {
		.c-inner {
			margin: #{math-sign($btn-padding-y-sm)}
				#{math-sign($btn-padding-x-sm)};

			@include clay-scale-component {
				margin: #{math-sign($btn-padding-y-sm-mobile)} #{math-sign(
						$btn-padding-x-sm-mobile
					)};
			}
		}

		&.btn-monospaced .c-inner {
			height: calc(100% + #{$btn-monospaced-padding-y-sm * 2});
			margin: #{math-sign($btn-monospaced-padding-y-sm)} 0;
		}
	}

	.btn-lg {
		.c-inner {
			margin: #{math-sign($btn-padding-y-lg)}
				#{math-sign($btn-padding-x-lg)};

			@include clay-scale-component {
				margin: #{math-sign($btn-padding-y-lg-mobile)} #{math-sign(
						$btn-padding-x-lg-mobile
					)};
			}
		}

		&.btn-monospaced .c-inner {
			height: calc(100% + #{$btn-monospaced-padding-y-lg * 2});
			margin: #{math-sign($btn-monospaced-padding-y-lg)} 0;
		}
	}
}

// Button Variants

@each $color, $value in $btn-palette {
	.btn-#{$color} {
		@include clay-button-variant($value);
	}

	%btn-#{$color}-focus {
		background-color: map-get($value, focus-bg);
		border-color: map-get($value, focus-border-color);
		box-shadow: map-get($value, focus-box-shadow);
		color: map-get($value, focus-color);
	}
}

// Button Outline Variants

@each $color, $value in $btn-outline-palette {
	.btn-outline-#{$color} {
		@include clay-button-variant($value);
	}

	%btn-outline-#{$color}-focus {
		background-color: map-get($value, focus-bg);
		border-color: map-get($value, focus-border-color);
		box-shadow: map-get($value, focus-box-shadow);
		color: map-get($value, focus-color);
	}
}

.btn-outline-borderless {
	border-color: transparent;

	&:hover,
	&:focus {
		border-color: transparent;
	}

	&:disabled,
	&.disabled {
		border-color: transparent;
	}
}

.btn-outline-borderless:not(:disabled):not(.disabled):active {
	border-color: transparent;
}

.show > .btn-outline-borderless.dropdown-toggle {
	border-color: transparent;
}

// Loading Icons with Buttons

.btn .loading-animation {
	font-size: 1em;
	margin-top: $inline-item-lexicon-icon-margin-top;
}
